# macOS
.DS_Store

# Xcode
*.xcuserstate
xcuserdata/
DerivedData/
.build/
*.ipa
*.dSYM
*.dSYM.zip

# Swift Package Manager
.swiftpm/
Package.resolved

# CocoaPods / Carthage
Pods/
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Secrets / Env (ileride)
.env
Secrets.plist
GoogleService-Info.plist
*.p12
*.mobileprovision
